table {
	width: 300px;
}

thead td,
tfoot td {
	text-align: center;
}

td.labelCol {
	text-transform: uppercase;
}

td.labelCol.small {
	text-transform: none;
}

td.dataCol {
	text-align: right;
}

tr.blank_row {
	height: 10px;
}

tr.line-item {
	padding: 15px 0px;
}

.center {
	text-align: center;
}

hr {
	width: 95%;
	border: 0;
	height: 1px;
	background: black;
}

.show_false {
	display: none;
}